<?xml version="1.0"?>
<configuration>
    <system.web>
		<authorization>
			<deny roles="Secretary" />
			<deny roles="Deacon" />
			<deny roles="Deaconess" />
			<deny roles="Pastors" />
			<deny roles="Priests" />
			<deny roles="Ushers" />
			<deny roles="Data Capture Personnel" />
		</authorization>
    </system.web>
</configuration>
