<?xml version="1.0"?>
<configuration>
    <system.web>
		<authorization>
			<deny roles="Accountant" />
			<deny roles="Secretary" />
			<deny roles="Priests" />
			<deny roles="Usher" />
			<deny roles="Counseling Unit" />
			<deny roles="Accounting Officer 1" />
			<deny roles="Accounting Officer 2" />
			<deny roles="Accounting Officer 3" />
			<deny roles="Head Usher" />
			<deny roles="Home Fellowship Leader" />
			<deny roles="Kingdom Builder Leader" />
			<deny roles="Technical" />
			<deny roles="Visitation / Follow Up Team" />
			<deny roles="Welfare" />
			<deny roles="Media Head" />
			<deny roles="Assistant Media Head" />
			<deny roles="Assistant Head Usher" />
			<deny roles="Assistant Home Fellowship" />
			<deny roles="Assistant Visitation / Follow Up" />
			<deny roles="Assistant Kingdom Builder" />
		</authorization>
    </system.web>
</configuration>
