<?xml version="1.0"?>
<configuration>
	<system.web>
		<authorization>
			<deny roles="Secretary" />
			<deny roles="Deacon" />
			<deny roles="Deaconess" />
			<deny roles="Pastors" />
			<deny roles="Priests" />
			<deny roles="Usher" />
			<deny roles="Counseling Unit" />
			<deny roles="Head Usher" />
			<deny roles="Technical" />
			<deny roles="Visitation / Follow Up Team" />
			<deny roles="Welfare" />
			<deny roles="Principal" />
			<deny roles="Accounting Officer 1" />
			<deny roles="Accounting Officer 2" />
			<deny roles="Accounting Officer 3" />
			<deny roles="Accountant" />
			<deny roles="Bishop P.A" />
			<deny roles="Resident Pastor" />
			<deny roles="Assistant Bishop P.A" />
			<deny roles="Media Head" />
			<deny roles="Assistant Media Head" />
			<deny roles="Assistant Head Usher" />
			<deny roles="Assistant Visitation / Follow Up" />
			<deny roles="Vice Principal" />
			<deny roles="Assistant Kingdom Builder" />
			</authorization>
	</system.web>
</configuration>
