<?xml version="1.0"?>
<configuration>
    <system.web>
		<authorization>
			<deny roles="Secretary" />
			<deny roles="Deacon" />
			<deny roles="Deaconess" />
			<deny roles="Pastors" />
			<deny roles="Priests" />

			<deny roles="Counseling Unit" />

			<deny roles="Visitation / Follow Up Team" />
			<deny roles="Welfare" />
			<deny roles="Principal" />
		</authorization>
    </system.web>
</configuration>
